body {
    margin: 0;
    background:#F6F6F6

}

.header {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #FFFFFF
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 83px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headingLeft {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    padding-top: 5px;
    position: absolute;
    left: 120px;
}

.headingRight {
    float: right;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding-top: 7px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a {
    color: #488125;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.container2 {
    height: 799px;

}


.container2 h1 {
    color: #1C7138;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    width: 540px;
    height: 170px;
    padding-left: 55px;
    padding-top: 226px;
}

.container2 p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left: 55px;
    padding-bottom: 226px;
    font-size: 30px;
}


.container3 { 
    text-align: center;
    background: white;
    height: 411px;
}

.container3 h1 {
    padding-top: 60px;;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

.container3 p {
    color:#F78480;
    padding-top: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;

}

.container4 {
    height: 754px;
    padding-right: 54px;
    text-align: right;
}

.container4 h4 {
    color: #1C7138;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    

}

.container5 { 
    background: white;
}

.footer { 
    background: #F8E16F
}